footer{
    padding-top: 1em;
    padding-bottom: .25em;
    border-top: 1px solid black;

    width: 100%;
    @media only screen and (min-width: $desktop-width) {
        width: 90%;
        margin: 0 auto;
    }

    text-align: center;

    a{
        font-weight: bold;
        color: black;
    }
}